@media (max-width: 1024px) {
    .ico
    {
        font-size: 10px;
    }
    .blog-card{
     max-width:250 ;
    
    }

    .rowse{
        gap:0.1rem;
        align-items: center;
        justify-content: center;
    }
}